@model Your_IoT_Handprint.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GithubRepoUrl)
        </dt>

       
        <dd>
            <a href="@Model.GithubRepoUrl">@Model.GithubRepoUrl</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    <!--
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    -->



    @{
        if (Model.ForSale && Model.Quantity > 0)
        {
            <!--@Html.ActionLink("Order", "Create", "Orders", new { Model.Id })-->
            <a href="/Orders/Create/@Model.Id">Order</a>
        }
    }


    @Html.ActionLink("Back to List", "Index", "ProjectsAndEvents")
</p>
