@model Your_IoT_Handprint.Models.Helpers.EventsAndProjects

@{
    ViewBag.Title = "Index";
}

<h2>All Ideas</h2>

<!--
<p>
    @Html.ActionLink("Create New Project", "CreateProject")
    <br />
    @Html.ActionLink("Create New Event", "Create", "Events")

</p>
-->

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Image</th>
            <th>Average rating</th>
            <th>Description</th>
            <th>Github repo/Event link</th>
            <th>TYPE</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => project.Name)</td>
                    <td>@Html.DisplayFor(modelItem => project.CreatorUsername)</td>
                    <td>
                        <img src=@project.ImageUrl />
                    </td>
                    <td>@Html.DisplayFor(modelItem => project.AvgRating)</td>
                    <td>@Html.DisplayFor(modelItem => project.Description)</td>
                    <td>@Html.DisplayFor(modelItem => project.GithubRepoUrl)</td>
                    <td>PROJECT</td>
                    <td>
                        <div>
                            <button><a href="/Projects/Details/@project.Id">Details</a></button>
                            <br />
                            @using (Html.BeginForm("RateProject", "Projects",new { id = project.Id }))
                            {

                                <input type="number" name="rating" />
                                
                                <button type="submit">Rate</button>
                            }
                        </div>
                    </td>
                </tr>
            }


            foreach (var evnt in Model.Events)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => evnt.Name)</td>
                    <td>@Html.DisplayFor(modelItem => evnt.CreatorUsername)</td>
                    <td>
                        <img src=@evnt.ImageUrl />
                    </td>
                    <td>@Html.DisplayFor(modelItem => evnt.AvgRating)</td>
                    <td>@Html.DisplayFor(modelItem => evnt.Description)</td>
                    <td>@Html.DisplayFor(modelItem => evnt.EventLinkUrl)</td>
                    <td>EVENT</td>
                    <td>
                        <div>
                            <button><a href="/Events/Details/@evnt.Id">Details</a></button>
                            <br />
                            Your rating:
                            <br />
                            <input type="number" />
                            <button>Rate</button>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



